body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:835px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:424px;
  height:848px;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:416px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:111px;
  width:375px;
  height:667px;
}
#u787_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  overflow:hidden;
}
#u788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:129px;
  width:15px;
  height:20px;
  font-size:8px;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:266px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:293px;
  width:261px;
  height:13px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:268px;
  width:49px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:327px;
  width:70px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:354px;
  width:261px;
  height:13px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:329px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:451px;
  width:140px;
  height:40px;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:206px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:233px;
  width:261px;
  height:13px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:208px;
  width:49px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:209px;
  width:88px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u812_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:35px;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:208px;
  width:20px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
#u814_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:35px;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:209px;
  width:20px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
#u816_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:35px;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:263px;
  width:20px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
#u818_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:35px;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:327px;
  width:20px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
#u820_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:35px;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:459px;
  width:20px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
#u822_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:35px;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:127px;
  width:20px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
#u824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:736px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:878px;
  width:736px;
  height:114px;
  font-size:16px;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:736px;
  word-wrap:break-word;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:972px;
  width:820px;
  height:847px;
}
#u827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:118px;
  height:30px;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:0px;
  width:100px;
  height:30px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:0px;
  width:162px;
  height:30px;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:158px;
  word-wrap:break-word;
}
#u835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:30px;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:0px;
  width:385px;
  height:30px;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:381px;
  word-wrap:break-word;
}
#u837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:45px;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:50px;
  height:45px;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  word-wrap:break-word;
}
#u839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:45px;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:30px;
  width:118px;
  height:45px;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:114px;
  word-wrap:break-word;
}
#u841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:30px;
  width:100px;
  height:45px;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:45px;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:30px;
  width:162px;
  height:45px;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:158px;
  word-wrap:break-word;
}
#u845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:45px;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:30px;
  width:385px;
  height:45px;
  text-align:left;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:381px;
  word-wrap:break-word;
}
#u847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:593px;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:75px;
  width:50px;
  height:593px;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:288px;
  width:46px;
  word-wrap:break-word;
}
#u849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:593px;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:75px;
  width:118px;
  height:593px;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:288px;
  width:114px;
  word-wrap:break-word;
}
#u851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:593px;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:75px;
  width:100px;
  height:593px;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:288px;
  width:96px;
  word-wrap:break-word;
}
#u853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:593px;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:75px;
  width:162px;
  height:593px;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:288px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:593px;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:75px;
  width:385px;
  height:593px;
  text-align:left;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:288px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:668px;
  width:50px;
  height:36px;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:668px;
  width:118px;
  height:36px;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:668px;
  width:100px;
  height:36px;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:36px;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:668px;
  width:162px;
  height:36px;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:158px;
  word-wrap:break-word;
}
#u865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:36px;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:668px;
  width:385px;
  height:36px;
  text-align:left;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:381px;
  word-wrap:break-word;
}
#u867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:53px;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:704px;
  width:50px;
  height:53px;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:53px;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:704px;
  width:118px;
  height:53px;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:114px;
  word-wrap:break-word;
}
#u871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:53px;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:704px;
  width:100px;
  height:53px;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:53px;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:704px;
  width:162px;
  height:53px;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:158px;
  word-wrap:break-word;
}
#u875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:53px;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:704px;
  width:385px;
  height:53px;
  text-align:left;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:381px;
  word-wrap:break-word;
}
#u877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:59px;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:757px;
  width:50px;
  height:59px;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:46px;
  word-wrap:break-word;
}
#u879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:59px;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:757px;
  width:118px;
  height:59px;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:114px;
  word-wrap:break-word;
}
#u881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:59px;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:757px;
  width:100px;
  height:59px;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:59px;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:757px;
  width:162px;
  height:59px;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:59px;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:757px;
  width:385px;
  height:59px;
  text-align:left;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:381px;
  word-wrap:break-word;
}
#u887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:816px;
  width:50px;
  height:26px;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:46px;
  word-wrap:break-word;
}
#u889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:26px;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:816px;
  width:118px;
  height:26px;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:114px;
  word-wrap:break-word;
}
#u891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:816px;
  width:100px;
  height:26px;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
#u893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:26px;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:816px;
  width:162px;
  height:26px;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:26px;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:816px;
  width:385px;
  height:26px;
  text-align:left;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:381px;
  word-wrap:break-word;
}
#u897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1840px;
  width:141px;
  height:16px;
  color:#FF0000;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:1055px;
  width:120px;
  height:40px;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:1118px;
  width:120px;
  height:40px;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:1118px;
  width:120px;
  height:40px;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:1180px;
  width:120px;
  height:40px;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:1180px;
  width:120px;
  height:40px;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:1247px;
  width:120px;
  height:40px;
}
#u910 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u911_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:1247px;
  width:120px;
  height:40px;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:1312px;
  width:120px;
  height:40px;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:1312px;
  width:120px;
  height:40px;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:116px;
  word-wrap:break-word;
}
#u917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:1382px;
  width:120px;
  height:40px;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:1457px;
  width:120px;
  height:40px;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u921 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:1457px;
  width:120px;
  height:40px;
}
#u922 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u923 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:1520px;
  width:120px;
  height:40px;
}
#u924 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u925 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:1520px;
  width:120px;
  height:40px;
}
#u926 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u927 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:1591px;
  width:120px;
  height:40px;
}
#u928 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u929 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:1095px;
  width:0px;
  height:0px;
}
#u929_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:27px;
}
#u929_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:10px;
  width:20px;
  height:20px;
}
#u930 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u931 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:1138px;
  width:0px;
  height:0px;
}
#u931_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u931_seg1 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-10px;
  width:20px;
  height:20px;
}
#u932 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u933 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:1158px;
  width:0px;
  height:0px;
}
#u933_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:26px;
}
#u933_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:9px;
  width:20px;
  height:20px;
}
#u934 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:3px;
  width:100px;
  word-wrap:break-word;
}
#u935 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:1200px;
  width:0px;
  height:0px;
}
#u935_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u935_seg1 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-10px;
  width:20px;
  height:20px;
}
#u936 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u937 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:1220px;
  width:0px;
  height:0px;
}
#u937_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:31px;
}
#u937_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:14px;
  width:20px;
  height:20px;
}
#u938 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u939 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:1267px;
  width:0px;
  height:0px;
}
#u939_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u939_seg1 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-10px;
  width:20px;
  height:20px;
}
#u940 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u941 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:1287px;
  width:0px;
  height:0px;
}
#u941_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:29px;
}
#u941_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:12px;
  width:20px;
  height:20px;
}
#u942 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u943 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:1332px;
  width:0px;
  height:0px;
}
#u943_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u943_seg1 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-10px;
  width:20px;
  height:20px;
}
#u944 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u945 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:1352px;
  width:0px;
  height:0px;
}
#u945_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u945_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:17px;
  width:20px;
  height:20px;
}
#u946 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:1422px;
  width:0px;
  height:0px;
}
#u947_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u947_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:22px;
  width:20px;
  height:20px;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:1477px;
  width:0px;
  height:0px;
}
#u949_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:56px;
  height:8px;
}
#u949_seg1 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:-10px;
  width:20px;
  height:20px;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:1497px;
  width:0px;
  height:0px;
}
#u951_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:27px;
}
#u951_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:10px;
  width:20px;
  height:20px;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:1540px;
  width:0px;
  height:0px;
}
#u953_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:56px;
  height:8px;
}
#u953_seg1 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:-10px;
  width:20px;
  height:20px;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:1560px;
  width:0px;
  height:0px;
}
#u955_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:35px;
}
#u955_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:18px;
  width:20px;
  height:20px;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
